<article class="border-bottom-hover post type-post status-publish format-standard has-post-thumbnail hentry category-parallax-one category-themeisle category-wordpress" title="Blog post: Blog Post Title">
    <header class="entry-header">
        <div class="post-img-wrap">
                <a href="{{path('race', {'slug': race.slug})}}" title="{{race.name}}">
                
                <picture>
                    <img src="{{web_image('images/races/' ~ race.image).zoomCrop(240,240)}}" alt="{{race.name}}">
                </picture>
                
                </a>
                <div class="post-date entry-published updated">
                    <span class="post-date-day">{{race.date|date('d')}}</span>
                    <span class="post-date-month">{{race.date|localizeddate('none', 'none', app.request.locale, null, 'LLLL')|slice(0,3)}}</span>
                </div>
        </div>

        <div class="entry-meta list-post-entry-meta">
            <h3><a href="{{path('race', {'slug': race.slug})}}">{{race.name}}</a></h3>
            
             <h3>{{race.distance}} km</h3>
             <h4>{{race.city}}</h4>
             <p>{{race.date|localizeddate('full','short',app.request.locale)}} </p>
                    
        </div>
    <div class="clearfix"></div>
    </header>
</article>