{% extends 'runners.html.twig' %}

{% block body %}
     <!-- CONTAINER -->
        <ul id="parallax_move" style="width: 1469px; margin-left: -60px; margin-top: -60px; position: absolute; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
           <li class="layer layer1" data-depth="0.10" style="height: 700px; transform: translate3d(4.23709px, -8.41158px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px; background-image: url({{ asset('images/background.jpg') }});">
           </li>
        </ul>
            <div class="overlay-layer-wrap">
                    <div class="container overlay-layer" id="parallax_header">

                    <!-- ONLY LOGO ON HEADER -->
                    <div class="only-logo"><div id="only-logo-inner" class="navbar"><div id="parallax_only_logo" class="navbar-header"><img src="http://demo.themeisle.com/parallax-one/wp-content/themes/Parallax-One/images/logo-2.png" alt=""></div></div></div>			<!-- /END ONLY LOGO ON HEADER -->

                    <div class="row">
                        <div class="col-md-12 intro-section-text-wrap">

                            <!-- HEADING AND BUTTONS -->
                            <div id="intro-section" class="intro-section">

                                <!-- WELCOM MESSAGE -->
                                <h1 id="intro_section_text_1" class="intro white-text">{{'home.slogan'|trans({},'common')}}</h1>

                                <h5 id="intro_section_text_2" class="white-text">{{'home.description'|trans({},'common')}}</h5>
                                <!-- BUTTON -->
                                <a href={{path('races')}} id="inpage_scroll_btn" class="btn btn-primary standard-button inpage-scroll" data-anchor="#">{{'home.searchraces'|trans({},'common')|capitalize}}</a>							
                                <!-- /END BUTTON -->
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
{% endblock %}